# Python 가상 환경
/venv/
/env/
.venv
.env

# PyCharm 관련 파일
.idea/

# Jupyter 노트북 체크포인트
.ipynb_checkpoints

# 캐시와 임시 파일
__pycache__/
*.py[cod]

# 환경 파일
.env

# Anaconda 관련 파일
/opt/homebrew/anaconda3/

# 로그 파일
*.log

# 데이터 파일
*.csv
*.hdf5

# vector database
chroma/